<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="POSTDATAEntities" connectionString="metadata=res://*/PostModel.csdl|res://*/PostModel.ssdl|res://*/PostModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E8TO80Q\SQLEXPRESS;initial catalog=POSTDATA;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>